[submodule "submodules/IsaacLab"]
	path = submodules/IsaacLab
	url = https://github.com/X-Square-Robot/IsaacLab.git
	branch = x2real
	ignore = all
[submodule "submodules/Isaac-GR00T"]
	path = submodules/Isaac-GR00T
	url = ssh://git@gitlab.zbl.local:50022/mana/model/Isaac-GR00T.git
	branch = main
	ignore = all
